*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
}
.sidbar{
    position: sticky;
    top: 0;
    left: 0;
    bottom: 0;
    padding: 0 0.7rem;
    width: 75px;
    height: 100vh;
    overflow: hidden;
    background: rgba(1, 82, 18, 0.918);
    transition: all 0.5s linear;
    
}
ul img{
    width: 25px;
}
.sidbar:hover{
    width: 140px;
 transition: all 0.5s;
}
.logo{
    height: 80px;
    padding: 15px;
}
.menu{
    height: 88%;
    padding: 0;
    position: relative;
    list-style: none;
}
.menu li{
    margin: 8px 0;
    padding: 0.5rem;
    transition: all 0.5s ease-in-out;
    align-items: center;
}
.menu li:hover{
    /* background: rgb(158, 155, 155); */
     background-color: #398033;
     border: 0;
}
.active{
    border-right: 2px solid rgb(242, 242, 245);
}
.menu a{
    display: flex;
    gap: 1.5rem;
    text-decoration: none;
    color: #fff;
    align-items: center;
    font-size: 14px;
}
.menu a span{
    overflow: hidden;
}
.logout{
    position: absolute;
    left: 0;
    bottom:8px;
    width: 100%;
}
section{
    width: 100%;
     background:#ebe9e9;
}
.main--content{
    position: relative;
    width: 100%;
    background:#ebe9e9;
    padding: 1rem;
}
.header_expen{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 98%;
    height: 50px;
    margin-top: 30px;
    margin-inline: 10px;
    background:#ffff;
    padding: 1rem;
    border-radius: 10px;
    
}

.searchbar span{
    width: 240px;
    display: flex;
    border-radius: 10px;
    padding: 2px;
    border: 1px solid rgb(158, 157, 157);
}
span img{
    width: 20px;
}
span input{
    height: 25px;
    width: 200px;
    padding: 3px;
    border: 0;
    outline: 0;
}
.btn{
    border: 0;
    margin-inline: 2px;
    background: transparent;
    cursor: pointer;

}
.btn img{
    width: 30px;
}

.tabular--wrapper{
    background: #fff;
    border-radius: 10px;
    margin-top: 1rem;
    padding: 2rem
   
}
.tanle-container{
width: 100%;
}
.header{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}
table{
    width: 100%;
    border-collapse: collapse;
}
thead{
    background: rgba(1, 82, 18, 0.918);
    color: #fff;
}
th{
    padding: 15px;
    text-align: left;
}
tbody{
    background: #f2f2f2;
}
td{
    padding: 15px;
    font-size: 14px;
    color: #333;
}
tr:nth-child(even){
    background: #fff;
}
tfoot{
    background: rgba(1, 82, 18, 0.918);
    font-weight: bold;
    color: #fff;
}
tfoot td{
    padding: 15px;
    color: #fff;
}
.tanle-container button{
    color: green;
    background: none;
    cursor: pointer;
}
